body{
  font-family: 'Nunito', sans-serif;
}

#root{
   background-image: url('../public/bg.png');
   background-size: no-repeat;
   background-position: center;
   background-size: cover; 
   height: 100%;
   overflow-x: hidden;
}
p{
  font-weight: 400;
  font-size: 16px;
}
h2{
  margin-top: 0;
  font-weight: 500;
}

header{
  margin-bottom: 0;
}

.back{
   background-color: #fff175;
   font-weight: 400;
   font-size: 18px;
}
.is-sticky {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 50%);
  padding-top: 0px;
  padding-bottom: 0px;
}

.vr{
   color: rgba(9, 9, 250, 0.979);
   height: 5px;
   margin-top: 14px;
 }

 .text{
   font-weight: 900;
   color:	#0000CD;
 }

 .title{
   font-size: 26px;
   font-weight: 900;
   color:		#1C39BB 
 }

 .line{
   width: 10%;
   border-bottom: 3px solid #708090;
   margin: 0 auto;
 }

.directions{
  font-weight: 400;
  font-size: 18px;
}

.activities{
  margin-top: 5rem;
}