body{
  font-family: 'Nunito', sans-serif;
}

#root{
   /* background-image: url('../public/bg.png');
   background-size: no-repeat;
   background-position: center;
   background-size: cover;  */
   background: rgba(255, 241, 117, 0.48);
   height: 100%;
   overflow-x: hidden;
}
p{
  font-weight: 400;
  font-size: 16px;
}
h2{
  margin-top: 0;
  font-weight: 500;
}

header{
  margin-bottom: 0;
}

.back{
  background:#99E0FF;
   font-size: 12px;
   letter-spacing: 0.06cm;
}
.is-sticky {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 50%);
  padding-top: 0px;
  padding-bottom: 0px;
}

.vr{
   color: rgba(9, 9, 250, 0.979);
   height: 5px;
   margin-top: 14px;
 }

 .text{
  font-size: 30px;
   color:	#2344B8;
   letter-spacing: 0.05cm;
   line-height: 1.5cm;
   text-shadow: 0px 4px 4px rgba(18, 133, 239, 0.79);
 }

 .title{
   font-size: 26px;
   font-weight: 900;
   color:		#2344B8
 }

 .line{
   width: 10%;
   border-bottom: 5px solid #F7FC01;
   margin: 0 auto;
 }

.directions{
  font-weight: 400;
  font-size: 18px;
}

.activities{
  margin-top: 5rem;
}
.form-feedback{

}
.form-feedback__wrap{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-feedback__name{
  padding: 10px 5px;
  border-radius: 0px;
  border: 1px solid grey;
}

input:focus{
  box-shadow: 2px 5px 2px 0 rgb(143, 143, 218);
}

.form-feedback__email{
margin-top: 10px;
margin-bottom: 10px;
padding: 10px 5px;
border-radius: 0px;
border: 1px solid grey;
}

.form-feedback__topic{
margin-bottom: 10px;
padding: 10px 5px;
border: 1px solid grey;
border-radius: 0px;
}

.form-feedback__message{
  height: 200px;
  border-radius: 0px;
  padding: 10px 5px;
}

.form-feedback__button{
  border-radius: 0px;
  border: 1px solid rgb(233, 224, 224);
  padding: 12px 14px;
  font-size: 16px;
  font-weight: 100;
  background-color: #fff;
  color:rgb(57, 56, 56);
  cursor: pointer;
}

.form-feedback__button:hover{
  background-color: rgb(212, 210, 210);
  border: 1px solid rgb(233, 224, 224);
}

i{
  color: grey;
}